# Environment variables
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Node
node_modules/
dist/
build/
.vite/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db